<?xml version='1.0' encoding='utf-8'?>
<widget id="com.exampll.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Secret name</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author href="http://karelvitek.cz" email="999999333studio@gmail.com">
        Karel Vitek
    </author>
    <content src="index.html" />
    <access origin="*" />
     <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" /> 
</widget>
